main {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Courier, monospace;
  background-color: #f0f0f0;
  padding: 14px 20px;
  margin-top: 20px;
  width: 100%; }

.error {
  width: 100%;
  height: 50vh;
  font-size: 3em;
  font-weight: bold;
  color: #e40202;
  align-items: center;
  text-align: center; }
  .error img {
    width: auto; }

.checked {
  color: #ff7a00; }

.article {
  /*text-align: center;*/
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  width: 100%;
  box-shadow: 0px 11px 8px 0px rgba(0, 0, 0, 0.75);
  /*Responsive*/ }
  .article__title {
    text-decoration: none;
    font-size: 1.5rem;
    color: #080879; }
  .article__title:hover {
    background-color: #CCC;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); }
  .article__author {
    font-size: 18px;
    font-weight: 300;
    margin-top: 25px; }
  .article__date {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 300; }
  .article__rating {
    margin-top: 10px;
    display: inline-block;
    color: #444;
    font-size: 1.5rem;
    transition: all 0.3s; }
  .article__description {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5; }
  @media (min-width: 481px) {
    .article {
      margin: 26px auto; }
      .article main {
        margin-top: 26px; }
      .article__title {
        font-size: 2rem; }
      .article__author {
        font-size: 24px;
        font-weight: 500; }
      .article__date {
        font-size: 20px;
        font-weight: 500; }
      .article__rating {
        margin-top: 14px;
        font-size: 1.8rem; }
      .article__description {
        font-size: 18px; } }
  @media (min-width: 769px) {
    .article main {
      margin-top: 36px; }
    .article__title {
      font-size: 2.25rem; }
    .article__author {
      font-size: 28px; }
    .article__date {
      font-size: 24px; }
    .article__rating {
      font-size: 2rem; }
    .article__description {
      font-size: 20px; } }
  @media (min-width: 1024px) {
    .article {
      padding: 50px; }
      .article__title {
        font-size: 2.5rem; }
      .article__author {
        font-size: 30px; }
      .article__date {
        font-size: 28px; }
      .article__rating {
        font-size: 2.4rem; }
      .article__description {
        font-size: 22px; } }
