/*? -----------SWITCH----------*/
.theme {
  margin: 8px 4px 0; }

.switch {
  background: #343D5B;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none; }
  .switch span {
    width: 20px;
    height: 20px;
    line-height: 20px;
    display: block;
    background: none;
    color: var(--color-sass--white); }
    @media (min-width: 481px) {
      .switch span {
        width: 24px;
        height: 24px;
        line-height: 24px; } }
    @media (min-width: 769px) {
      .switch span {
        width: 30px;
        height: 30px;
        line-height: 30px; } }
  .switch::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    background: #f1f1f1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2); }
    @media (min-width: 481px) {
      .switch::after {
        width: 24px;
        height: 24px; } }
    @media (min-width: 769px) {
      .switch::after {
        width: 30px;
        height: 30px; } }
  .switch.active {
    background: #ffa500;
    color: var(--color-sass--black); }
    .switch.active::after {
      right: 0;
      left: unset; }

/** ----------ARTICULOS----------- */
body, main, .article {
  *background: #f1f1f1;
  transition: .5s ease all; }
  body.dark, main.dark, .article.dark {
    background: var(--color-sass--black);
    color: var(--color-sass--white); }
    body.dark main, main.dark main, .article.dark main {
      background: #0f0f0f; }
    body.dark .title_post, main.dark .title_post, .article.dark .title_post {
      color: #0a4e8d; }
    body.dark .article, main.dark .article, .article.dark .article {
      box-shadow: 0px 11px 8px 0px rgba(102, 102, 102, 0.75); }
      body.dark .article__title, main.dark .article__title, .article.dark .article__title {
        color: #2121e9; }
    body.dark .logout, main.dark .logout, .article.dark .logout {
      color: var(--color-sass--white); }
      body.dark .logout:hover, main.dark .logout:hover, .article.dark .logout:hover {
        box-shadow: 10px 10px 10px 0px rgba(27, 27, 27, 0.749); }
    body.dark #buscador, main.dark #buscador, .article.dark #buscador {
      background: var(--color-sass--black);
      color: var(--color-sass--white);
      border-color: #858896; }
    body.dark #buscar, main.dark #buscar, .article.dark #buscar {
      color: var(--color-sass--white); }
      body.dark #buscar:active, main.dark #buscar:active, .article.dark #buscar:active {
        box-shadow: 0px 0px 20px 2px rgba(212, 212, 212, 0.2); }
    body.dark .profile, main.dark .profile, .article.dark .profile {
      color: var(--color-sass--black); }

/** ----------OTROS ELEMENTOS QUE INTERACTUAN CON EL TEMA----------- */
.element__modification {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

.logout {
  text-decoration: none;
  height: 30px;
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 0 20px;
  color: var(--color-sass--black);
  font-weight: bold;
  text-transform: uppercase; }
  .logout:hover {
    transform: scale(1.1);
    background-color: #e60000;
    color: var(--color-sass--white);
    border-radius: 3%;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.5); }
