@import './mixins/media-queries.scss';

.contenido{
    h1 {
        color: #03223f;
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    }

    h2{
        font-size: 24px;
        color: #038bbb;
        text-align: right;
    }

    h3{
        text-align: right;
        font-size: 22px;
        color: #038bbb;
    }

    p{
        margin-top: 20px;
        line-height: 1.5;
        font-size: 16px;
        text-align: justify;
        margin: 0 20px;
    }

    .article__rating-container {
        text-align: right;
    }
    
    .subtitle-p {
        font-size: 18px;
        display: flex;
        text-align: center;
        justify-content: center;
        font-weight: bold;
        margin: 10px auto;
        max-width: 70%;
    }
    
    .ingredients {
        line-height: 1.5;
        font-size: 16px;
        margin: 10px 44px;
    }

    /*Responsive*/

    @include respond-to($tablet) {
        h1{
            font-size: 32px;
        }
        
        h2{
            font-size: 28px;
        }
        
        h3{
            font-size: 26px;
        }
        
        p{
            margin-top: 24px;
            font-size: 18px;
        }
    
        .subtitle-p {
            font-size: 20px;
            margin: 16px auto;
        }
    
        .ingredients {
            font-size: 18px;
        }
        
    }

    @include respond-to($laptop) {
        h1{
            font-size: 36px;
            margin: 12px 0;
        }
        
        h2{
            font-size: 32px;
        }
        
        h3{
            font-size: 30px;
        }
        
        p{
            margin: 28px 80px 0;
            font-size: 20px;
        }
    
        .subtitle-p {
            font-size: 22px;
            font-weight: bold;
        }
    
        .ingredients {
            font-size: 20px;
            margin: 10px 110px;
        }
    }

    @include respond-to($desktop) {
        h1{
            font-size: 38px;
        }
        
        h2{
            font-size: 34px;
        }
        
        h3{
            font-size: 32px;
        }
        
        p{
            margin-top: 30px;
            font-size: 24px;
        }
    
        .subtitle-p {
            font-size: 36px;
            margin: 28px auto;
        }
    
        .ingredients {
            font-size: 24px;
        }
    }
}
