@import './mixins/media-queries.scss';
@import './variables/colors.scss';

.login {
    *background-color: red;
    *color: $color--white;

    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 50%;
    max-width: 600px;
    margin: 4em auto;
    padding: 2em 2em;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 30%);
    font-family: 'Courier New', Courier, monospace;

    &__title {
        width: 100%;
        text-align: center;

        h1 {
            text-transform: uppercase;
            font-weight: bold;
        }
    }

    label {
        text-transform: uppercase;
        font-weight: bold;
        margin: .5em 0 0;
    }
    
    input[type="text"], input[type="password"] {
        width: 50%;
        min-width: 150px;
        height: auto;
        background: none;
        border: none;
        border-bottom: 2px dotted #6d6c6c;
        transition: .5s;

        &:focus {
            outline: none;
            border-bottom: 2px solid #000000;
        }
    }

    input[type="button"] {
        cursor: pointer;
        margin: 1.5em 0;
        padding: 1em 1.5em;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 10px;
        border: none;
        background-color: #FF5B1A;
        color: $color--white;

        &:hover {
            box-shadow: 0px 6px 10px 4px #ff5b1ab4;
        }
    }

    /*
    
    &__element {
        margin: 1em 0;
        width: 70%;
    }

    // RESPONSIVE
    //! MEJORAR EL RESPONSIVE DE LA PÁGINA

    @include respond-to($tablet) {
        max-width: 50%;
        margin: 16% auto;
        *transition: .3 all ease;
    }
    @include respond-to($laptop) {
        max-width: 45%;
    }
    @include respond-to($desktop) {
        max-width: 40%;
    } */
}